# .NET
bin/
obj/
*.user
*.suo
.vs/
*.dll
*.exe
*.pdb
*.cache
publish/

# Node (en caso de módulos en raíz)
node_modules/
package-lock.json

# SQLite / BD local
*.db
*.db-journal
monitoringplatform.db

# Secrets locales
appsettings.Development.json
appsettings.Production.json
.env
.env.local

# Logs
*.log
logs/

# OS
.DS_Store
Thumbs.db
